<?xml version="1.0"?>
<launch>
  <!-- Load all parameters -->
  <rosparam command="load" file="$(find LearningMPC)/Lmpc_params.yaml"/>
  <param name="waypoint_file" value ="$(find LearningMPC)/data/centerline_waypoints.csv"/>
  <param name="init_data_file" value ="$(find LearningMPC)/data/initial_safe_set.csv"/>
  <!-- Launch the learning MPC -->
  <node pkg="LearningMPC" name="LMPC" type="LMPC" output="screen">
  </node>

</launch>
